@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');


*{
  margin: 0px;
}

#light{
width: 50px;
height: 50px;
}

#light-switch{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow:  inset -9px -30px 1px gray;
  background-color: rgb(255, 255, 255);
  border:none;
}

#card-container{
  width:275px;
  height: 350px;
  position: relative;
  border-radius: 15px;
  margin: 15px;

}

#container{
  background-color: white;
  padding: 10px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#card{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: aqua;
  transform-style: preserve-3d;
  transition: all 2s ease;
  border-radius: 15px;
  box-shadow: 10px 20px 30px rgb(160, 151, 151);
}

#card:hover{
  transform: rotateY(180deg);
}

#card-front{
  background-color: rgb(198, 226, 43);
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  color:white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  font-size: 25px;
  font-family: sofia;
}

#card-back{
  background-color: rgb(221, 210, 219);
  position: absolute;
  backface-visibility: hidden;
  width: 150%;
  height: 100%;
  color:rgb(0, 0, 0);
  text-align: center;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  border-radius: 15px;
}

#button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.btn{
  background-color: aquamarine;
  padding: 5px 10px;
  width: 75%;
  height: 30px;
  border-radius: 5px;
  margin: 5px;
}


#doors{
  background-color: black;
  height: 100vh;
  width: 100%;
}